form{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color:var(--darkgray);
  .selected-day{
    font-size: 1.5rem;
  }
  h2{
    margin-top: 20px;
  }
  .wrapper-time{
    padding:20px 0;
    display: flex;
    align-items: center;
    .time{
      width: 100px;
    }
    p{
      margin:20px;
    }
  }
  button{
    margin: 20px 0;
  }
}







