.wrapp-calendar{
  padding:20px;
  position: relative;

}

.dialog-box{
  position:absolute;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  width: 500px;
  height:auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .form-content{
    margin:60px 40px 40px 40px;
  }

  .btn-close{
    float:right;
    margin:10px;
    box-shadow:none;
  }

  .dialog-buttons{
  color: var(--primary);
  display: flex;
  justify-content: right;
  align-items: center;
  & >*{
    margin-left:10px;
  }
}

}


.dialog-event{
  padding:0px 0px 40px 40px;
  h2{
    font-size: 1.5rem;
  }
  p{
    font-size: 1.1rem;
  }
  .data-event{
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 40px;
  }
  .content-event {
    color:var(--darkgray);
    mat-divider{
      margin-bottom: 20px;
    }
  }
}

.endStartTime{
  margin-bottom: 40px;
}

.bg-light{
  background-color: var(--secondary-light);
  padding:5px;
  border-radius: 5px;
}
